@model IEnumerable<AspProjet.Models.OffreEmploiASP>
@using AspProjet.Tools
@{
    ViewBag.Title = "Emploi";
}

<h2>Emploi</h2>

<p>
</p>
<table class="table">
    <tr>
        
        <!--<th>
            @Html.DisplayNameFor(model => model.offreEmploiId)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.fonction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diplomeMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experienceMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomBrasserie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mailRecrutement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <!-- <td>
            @Html.DisplayFor(modelItem => item.offreEmploiId)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.fonction)
        </td>
        <td>
           <!-- @Html.DisplayFor(modelItem => item.jobDescription)-->
            <p> @item.jobDescription.GetPLusCourt()</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diplomeMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.experienceMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomBrasserie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mailRecrutement)
        </td>
        <td>
           
            @Html.ActionLink("Details", "DetailEmploi", new { id=item.offreEmploiId }) 
        </td>
    </tr>
}

</table>
